
body {
    background-color: #f8f9fa;
    font-family: 'Arial', sans-serif;
    color: #333;
    margin: 0;
    padding: 0;
}


.logo {
    font-size: 2rem;
    color: #ff6600;
    margin-right: 10px;
}

header ul li a {
    text-decoration: none;
    color: #333;
    font-weight: bold;
}

header ul li a:hover {
    color: #ff6600;
}

article {
    background-color: #fff;
    border: 2px solid #ddd;
    border-radius: 10px;
    padding: 20px;
    margin: 10px;
}


footer {
    text-align: center;
    padding: 10px;
    background-color: #222;
    color: #fff;
    font-size: 0.9rem;
}
